#page-wrap {
     width: 800px;
     margin: 0 auto;
}
body {
     background-color: #FAF9F9;
}
h1 {
     margin: 0 auto 0 auto;
}
h3 {
     border-bottom: 2px solid;
}
.job-title {
     font-weight: bold;
}
